.wrapper {
    display: inline-flex;
    align-items: center;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    font-family: var(--font-family);
    font-size: 1.6rem;
    font-weight: 600;
    border: 1px solid transparent;
    background-color: #fff;
    cursor: pointer;
    user-select: none;

    +.wrapper {
        // margin-left: 8px;
    }

    //Disable button
    &.disabled {
        pointer-events: none;
        opacity: 0.5
    }
}

.icon+.title,
.title+.icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

//Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
    margin-left: 16px;
    justify-content: center;

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
        border-color: var(--primary);
    }
}

.outline {
    color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: var(--primary);
    }
}



.text {
    justify-content: center;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 2px;
    // // margin-right: 16px;

    &:hover {
        text-decoration: underline;
        color: rgba(22, 24, 35, 1.0);
        background-color: rgba(22, 24, 35, 0.03);
    }
}


//Button sizes
.small {
    min-width: 88px;
    padding: 2.2px 0px;
}

.large {
    min-width: 324px;
    min-height: 48px;
}